{% extends "blog/base_generic.html" %}

{% block content %}
<h2>Sign up</h2>
<form method="post" 
    data-validate-username-url="{% url 'validate_username' %}" 
    data-validate-email-url="{% url 'validate_email' %}">
    {% csrf_token %}
    {% for field in form %}
    <p>
        {{ field.label_tag }}<br>
        {{ field }}
        {% if field.help_text %}
            <small style="color: grey">{{ field.help_text }}</small>
        {% endif %}
        {% for error in field.errors %}
            <p style="color: red">{{ error }}</p>
        {% endfor %}
    </p>
    {% endfor %}
    <button type="submit">Sign up</button>
</form>
{% endblock %}

{% block javascript %}
{% csrf_token %}
<script>
    const csrftoken = document.querySelector('[name=csrfmiddlewaretoken]').value;
    $('#id_username, #id_email').focusout(function (e) {
        e.preventDefault();
        const form = $(this).closest("form")
        const focusElemId = $(this)[0].id;
        let validateURL;
        if (focusElemId === 'id_username') {
            validateURL = form.attr("data-validate-username-url");
        } else {validateURL = form.attr("data-validate-email-url");}
        $.ajax({
            type: 'GET',
            url: validateURL,
            data : form.serialize(),
            dataType: 'json',
            headers: {'X-CSRFToken': csrftoken},
            mode: 'same-origin',
            success: (data) => {
                if (!data.valid) {
                    alert(data.error_message);
                    let field = $(this);
                    field.val("");
                    field.focus();
                }
            },
            error: function (xhr, errmsg, err) {
                console.log(xhr.status + ": " + xhr.responseText);
        }
        });
        
    });
</script>
{% endblock javascript %}