{% extends "blog/base_generic.html" %}

{% block content %}

<section>
    <h1>{{ blogpost.title }}</h1>
    <p><strong>Post date:</strong> {{ blogpost.post_date }}</p>
    <p><strong>Author:</strong> {{ blogpost.author }}</p>
    <p><strong>Description:</strong></p>
    <p>{{ blogpost.description }}</p>
</section>

<section>
    <h4>Comments</h4>
    <ul>
        {% for comment in blogpost.comment_set.all %}
        <li>{{ comment.commenter }} ({{ comment.post_date }}) - {{ comment.description }}
            {% if perms.blog.change_comment %} 
                <a href="{% url 'blog:comment-update'  blogpost.slug comment.pk %}">Amend comment</a> 
                <a href="{% url 'blog:comment-delete'  blogpost.slug comment.pk %}">Delete comment</a></li>
            {% endif %}
        <hr>
        {% endfor %}
    </ul>
    <p><a href="{% url 'blog:comment-create'  blogpost.slug %}">Add a new comment</a></p>
</section>

{% endblock %}